.contact {
  margin-top: 40px;

}
.contact__fields {
  width: 1280px;
  margin: 0 auto;
}
.contact__field {
  appearance: none;
  padding: 0;
  width: 420px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background: #E5E5E5;
  margin-right: 6px;
  margin-bottom: 10px;
}
.contact__field:nth-child(1n+3) {
  margin-right: 0px;
}
.field_message {
  width: 1280px;
  height: 120px;
  border-radius: 5px;
  border: none;
  background: #E5E5E5;
}
.contact_button {
  width: 640;
  margin-top: 0px;
}
.contact__adress {
  box-sizing: content-box;
  border-width: 10px;
  width: 100px;
  margin-right: 0px;
}
