.events {
  background-image: url(../images/private.png);
  width: 1440px;
  min-height: 675px;
  background-repeat: no-repeat;
}

.events__cards {
  margin: 0px 205px 100px 205px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  list-style-type: none;
}

.events__card_left_image {
  width: 475px;
  height: 475px;
  background-image: url(../images/weddings.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px 0px;
}

.events__card_left_text {
  width: 80px;
  height: 475px;
  font-family: "Helvetica", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-indent: 20px;
  writing-mode: vertical-rl;
  background-color: black;
  margin-left: 395px;
}

.events__card_right_text {
  width: 80px;
  height: 475px;
  font-family: "Helvetica", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-indent: 20px;
  writing-mode: vertical-lr;
  background-color: black;
  transform: rotate(180deg);
}

.events__card_right_image {
  width: 475px;
  height: 475px;
  background-image: url(../images/corp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px 0px;
}
