.footer {
  width: 1440px;
    height: 100px;
    background: rgba(0, 0, 0, 0.9);
}
.footer__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 0px;
}
.footer__text_bold {
  font-weight: bold;
}
