@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes unrotate {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.rotation {
     animation: rotate 5s linear infinite,
              unrotate 5s;

}
