@font-face {
    src:
  url(../fonts/Helvetica/HelveticaNeueCyr-Roman.woff2) format('woff2'),
  url(../fonts/Helvetica/HelveticaNeueCyr-Roman.woff) format('woff'),
  url(../fonts/Helvetica/HelveticaNeueCyr-Roman.ttf) format('truetype');
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
}
